@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
.san {
  font-family: 'DM Sans', sans-serif;
}
.plus {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.Hero {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('/back.png');
  background-position:
    100% 0%,
    0% 100%;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}
.about {
  margin-bottom: 20px;
  padding-top: 10px;
  background-image: url('/back.png');
  background-position:
    5% 200%,
    100% 0%;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}
.demo {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('/bgn.png');
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}
.price {
  background-image: url('/queen.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  inset: 0%;
  z-index: 1;
  background-color: rgba(33, 7, 59, 0.85);
}
.system {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
th,
td {
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
